html,
body {
  height: 100%;
}

body {
  background-color: antiquewhite;
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
.header {
  padding: 20px;
  background: #cab45e;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
}

.steps {
  list-style: none;
  margin: 0;
  padding: 10px 20px 0;
}
.step-icon {
  margin-right: 0.3em;
  display: inline-block;
}

.choose-file {
  -webkit-appearance: none;
  appearance: none;
  display: inline;
  background: transparent;
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: rgb(0, 136, 255);
}
.choose-file:hover {
  text-decoration: underline;
}

.file-input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.drop-zone {
  padding: 100px;
  border: 3px dashed #bbb;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  color: rgb(155, 155, 155);
  transition: all 300ms ease-out;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.drop-zone--over {
  background-color: hsla(55, 100%, 60%, 0.35);
}
.drop-zone--error {
  background-color: hsla(0, 100%, 60%, 0.35);
}

.drop-zone--success {
  background-color: hsla(97, 100%, 60%, 0.35);
  font-weight: bold;
  padding: 10px;
  border-width: 0;
  flex: 0;
  flex-basis: auto;
}

.output {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.clear {
  -webkit-appearance: none;
  appearance: none;
  margin-left: 2em;
  padding: 0.5em 1em;
  font-size: 0.6em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
}
.clear__icon {
  margin-right: 0.1em;
}

.connections {
  display: none;
  padding: 0 20px;
}
.connections--visible {
  display: block;
}

.connections__heading {
  display: flex;
  align-items: center;
}
